.challengers_parent {
  width: calc(100% - 20px);
  border-radius: 5px;
  background: linear-gradient(155deg, #6A7C89, #A8CCD5);
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden; }

.challengers {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px; }

.challengers div:nth-child(1) {
  background: #556270; }

.challengers div:nth-child(3) {
  background: linear-gradient(155deg, #7F97A2, #93B1BC); }

.challengers div {
  width: calc( 100% / 3);
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  position: relative; }

.challengers img {
  width: 95px;
  border-radius: 50%; }

.name_div_parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #556270;
  background: #93B1BC;
  height: 23px; }

.name_div_parent div {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; }

.name_div {
  width: calc(100% / 3); }

.challengers span:nth-child(3) {
  position: absolute;
  bottom: 10px; }

.challengers span:nth-child(2) {
  position: absolute;
  display: flex;
  align-self: center;
  align-items: center;
  top: 0px;
  height: 100%;
  font-size: 45px; }

@media only screen and (min-width: 1024px) {
  .challengers_grand_parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .challengers_parent {
    width: calc(50% - 15px); } }
