@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-align: center; }

.info {
  position: relative;
  background: linear-gradient(155deg, #536976, #BBD2C5);
  height: 100vh; }

.info img {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px/2);
  width: 50px;
  animation: downwards .5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite; }

.info .fade_out {
  animation: fade_out .8s;
  animation-fill-mode: forwards; }

.login_page {
  /* background-color: grey; */
  height: 33.3vh;
  background: #536976;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.login_box {
  width: 90%;
  height: 80%;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px; }

.login_box a {
  background-color: transparent;
  font-size: 22px;
  border-radius: 40px;
  border: 3px solid white;
  color: white;
  width: 80%;
  height: 60px;
  margin: 14px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: border .4s, background-color .8s; }

.login_box a:hover {
  background-color: #BBD2C5;
  border: 3px solid #BBD2C5;
  color: #536976; }

@keyframes fade_out {
  100% {
    opacity: 0; } }

@keyframes downwards {
  100% {
    transform: translateY(20px); } }

@media only screen and (min-width: 450px) {
  .login_box {
    width: 400px; } }
