@import "../../utilities/variables.scss";

$checkbox-height: 35px;
$checkbox-width: 6px;


.triple_check {
    cursor: pointer;
    // position: relative;
    position: absolute;
    right: 10px;
    border: none;
    width: $checkbox-height;
    height: $checkbox-height;
    border-color: $main_color;
    border-width: 4px;
    border-style: solid;
    background: transparent;
    // transition: all .5s;
    font-family: 'Expletus Sans', cursive;
    letter-spacing: -6px;
    font-size: 25px;
    color: rgba(0,0,0,0);
    box-sizing: border-box;
}

.zero {
    border-radius: 5px;
}

.zero_to_one {
    border-radius: 5px;
    border-color: $main_color;

    &::before, &::after{
        content:'';
        position: absolute;
        background: $main_color;
        bottom:3px;
        
        width: $checkbox-width;
        border-radius: 4px;

    }

    // long line
    &::before{
        box-sizing: content-box;
        height: $checkbox-height;
        left: $checkbox-height * .5 - $checkbox-width - 1px;
        transform: rotate(45deg);
        transform-origin: 3px $checkbox-height;
        border: 2px solid white;

        animation-name: mark_up;
        animation-fill-mode: forwards;
        animation-duration: .325s;
        animation-delay: .325s;
        clip-path: polygon(0 100%, 100% 100%, 0 100%, 100% 100%);
    }

    // short line
    &::after{
        height: $checkbox-height * .5;
        left: $checkbox-height * .5 - $checkbox-width + 2px;
        transform: rotate(-45deg);
        transform-origin:bottom center;

        animation-name: mark_down;
        animation-fill-mode: forwards;
        animation-duration: .325s;
        clip-path: polygon(0 0, 100% 0, 0 0, 100% 0);
    }
}

.one {
    position: absolute;
    border-radius: 5px;

    &::before, &::after{
        content:'';
        position: absolute;
        background: $main_color;
        bottom:3px;
        
        width: $checkbox-width;
        border-radius: 4px;

    }

    // long line
    &::before{
        box-sizing: content-box;
        height: $checkbox-height;
        left: $checkbox-height * .5 - $checkbox-width - 1px;
        transform: rotate(45deg);
        transform-origin: 3px $checkbox-height;
        border: 2px solid white;

    }

    // short line
    &::after{
        height: $checkbox-height * .5;
        left: $checkbox-height * .5 - $checkbox-width + 2px;
        transform: rotate(-45deg);
        transform-origin:bottom center;

    }

}

.one_to_neg {
    border-color: $main_color;
    border-radius: 5px;
    animation-name: square_to_circle;
    animation-duration: .65s;
    animation-fill-mode: forwards;

    &::before, &::after{
        content:'';
        position: absolute;
        background: $main_color;
        bottom:3px;
        
        width: $checkbox-width;
        border-radius: 4px;

        opacity: 1;
        animation-name: mark_fade;
        animation-fill-mode: forwards;
        animation-duration: .325s;    
    }

    &::before{
        box-sizing: content-box;
        height: $checkbox-height;
        left: $checkbox-height * .5 - $checkbox-width - 1px;
        transform: rotate(45deg);
        transform-origin: 3px $checkbox-height;
        border: 2px solid white;

    }

    // short line
    &::after{
        height: $checkbox-height * .5;
        left: $checkbox-height * .5 - $checkbox-width + 2px;
        transform: rotate(-45deg);
        transform-origin:bottom center;

    }

}

.neg {

    border-color: rgb(255, 179, 15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.neg_to_zero {
    border-radius: 50%;
    border-color: rgb(255, 179, 15);

    animation-name: circle_to_square;
    animation-duration: .65s;
    animation-fill-mode: forwards;
}

// for check mark

@keyframes mark_down {
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );
    }
}

@keyframes mark_up {
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes mark_fade {
    100% {
        opacity: 0;
    }
}

@keyframes square_to_circle {
    100% {
        border-radius: 50%;
        border-color: rgb(255, 179, 15);
    }
}

@keyframes circle_to_square {
    100% {
        border-radius: 5px;
        border-color: $main_color;
    }
}