@import url("https://fonts.googleapis.com/css?family=PT+Mono");
.temp_contain .triple_check {
  cursor: pointer;
  position: relative;
  border: none;
  width: 35px;
  height: 35px;
  border-color: #556270;
  border-width: 4px;
  border-style: solid;
  background: whitesmoke;
  transition: all .5s;
  margin: 10px;
  font-family: 'Expletus Sans', cursive;
  letter-spacing: -6px;
  font-size: 25px;
  color: transparent;
  box-sizing: border-box; }

.temp_contain .zero {
  border-radius: 5px; }

.temp_contain .one {
  position: relative;
  border-radius: 5px; }
  .temp_contain .one::before, .temp_contain .one::after {
    content: '';
    position: absolute;
    background: #556270;
    bottom: 3px;
    width: 6px;
    border-radius: 4px; }
  .temp_contain .one::before {
    box-sizing: content-box;
    height: 35px;
    left: 10.5px;
    transform: rotate(45deg);
    transform-origin: 3px 35px;
    border: 2px solid whitesmoke;
    animation-name: mark_up;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-delay: .2s;
    clip-path: polygon(0 100%, 100% 100%, 0 100%, 100% 100%); }
  .temp_contain .one::after {
    height: 17.5px;
    left: 13.5px;
    transform: rotate(-45deg);
    transform-origin: bottom center;
    animation-name: mark_down;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    clip-path: polygon(0 0, 100% 0, 0 0, 100% 0); }

.temp_contain .neg {
  border-color: #ffb30f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -2px 2px 0 whitesmoke,  0 2px 0 whitesmoke,  2px 2px 0 whitesmoke, 1px 0 0 whitesmoke, 2px -2px 0 whitesmoke, 0 -2px 0 whitesmoke, -2px -2px 0 whitesmoke, -2px 0 0 whitesmoke; }
