.add_log {
  background-color: white;
  width: 95%;
  height: 60px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 30px;
  color: #536976;
  border: 5px solid #536976;
  outline: none; }

.the_day {
  position: absolute;
  left: 10px; }

.log_form {
  z-index: -5;
  width: 95%;
  margin-left: 2.5%;
  margin-top: -400px;
  animation: slide_down .84s;
  animation-fill-mode: forwards;
  border-bottom: 5px solid #536976;
  padding-bottom: 5px; }

.log_day {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 5px;
  border-radius: 5px;
  background: white;
  padding: 0 10px;
  color: #536976;
  font-size: 22px;
  font-weight: bolder; }

@keyframes slide_down {
  to {
    margin-top: 0; } }
