@import url("https://fonts.googleapis.com/css?family=PT+Mono");
.contain_seven {
  width: calc(100vw - 20px);
  width: 100vw;
  padding: 0 5px; }

.the_day {
  position: absolute;
  left: 10px; }

.no_overflow {
  overflow: hidden; }

.close_log_form {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 0;
  animation: slide_up .84s;
  animation-fill-mode: forwards;
  border-bottom: 5px solid #556270;
  padding-bottom: 5px; }

.log_day {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  background: white;
  padding: 0 10px;
  color: #556270;
  font-size: 22px;
  font-weight: bolder;
  margin-top: 5px;
  width: calc(100% - 10px);
  margin-left: 5px; }

@keyframes slide_down {
  to {
    margin-top: 0; } }

@keyframes slide_up {
  to {
    margin-top: -400px; } }

@media only screen and (min-width: 1024px) {
  .add_log {
    display: none; }
  .log_day {
    width: calc(100% - 5px);
    margin-left: 2.5px; }
  .contain_seven {
    padding: 0 5px; } }
