@import "../../utilities/variables.scss";

$height: 400px;
$light: rgba(90, 236, 229, 0.5);

//^^^^ SWITCH ^^^^^

// .add_log {
//     background-color: white;
//     width: 100%;
//     height: 60px;
//     border-radius: 5px;
//     margin-top: 10px;
//     font-size: 30px;
//     color: $main_color;
//     border: 5px solid $main_color;
//     outline: none; 
// }

.the_day{
    position: absolute;
    left: 10px;
}

.no_overflow {
    // border: 1px solid black;
    overflow: hidden;
}

.log_form {
    // z-index: -5; //that doest work
    // height: $height;
    // border:1px solid fuchsia;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top:-$height;
    animation: slide_down .84s;
    animation-fill-mode: forwards;
    border-bottom:5px solid $main_color;
    padding-bottom: 5px;
}

.close_log_form {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 0;
    animation: slide_up .84s;
    animation-fill-mode: forwards;
    border-bottom:5px solid $main_color;
    padding-bottom: 5px;
}

.log_day {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    // box-shadow: 0 0 3px #DFDFDF;
    background: white;
    padding:0 10px;
    color: $main_color;
    font-size: 22px;
    font-weight: bolder;
}

@keyframes slide_down {
    to {
        margin-top: 0;
    }
}

@keyframes slide_up {
    to {
        margin-top: -$height
    }
}

@media only screen and (min-width:1024px){
    .add_log {
        display: none;
    }
    .log_day {
        width: calc(100% - 10px);
        margin-left: 5px;
    }
}