.streaks {
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  height: 200px;
  border: 5px solid #556270;
  border-radius: 5px;
  position: relative; }

.header {
  width: 100%;
  height: 51px;
  background: #556270;
  color: white;
  font-size: 30px;
  line-height: 51px;
  vertical-align: middle; }

.current, .best {
  position: absolute;
  width: 50%;
  height: calc(200px - 59px); }

.current {
  border-right: 2px solid #556270; }

.best {
  border-left: 2px solid #556270;
  right: 0; }

.current_header, .best_header {
  background: linear-gradient(155deg, #7F97A2, #93B1BC);
  color: #FFFFFF;
  font-size: 20px;
  line-height: 27.5px;
  height: 27.5px;
  vertical-align: middle; }

.best_header {
  background: linear-gradient(245deg, #7F97A2, #93B1BC); }

.number {
  height: calc(200px - 60px - 27.5px);
  line-height: calc(200px - 60px - 27.5px);
  vertical-align: middle;
  font-size: 65px;
  color: #556270;
  background-color: white; }
