// $main_color: #314755;
// $main_light: #BCFAE1;
// $gradient:linear-gradient(90deg, #314755, #26a0da);

// $main_color: #2b5876;
// $main_light: #BCFAE1;
// $gradient:linear-gradient(90deg, #2b5876, #4e4376);

$main_color: #536976;
$main_light: #BBD2C5;
$gradient:linear-gradient(155deg, #536976, #BBD2C5);