.challenge_friends_btn {
  background: linear-gradient(155deg, #6A7C89, #A8CCD5);
  width: 95%;
  height: 55px;
  border-radius: 5px;
  border: none;
  font-size: 28px;
  color: white;
  outline: none;
  margin-bottom: 10px; }

.challenge_friends_btn img {
  position: absolute;
  top: 15px;
  right: 14px;
  width: calc( 50px / 2); }

#right {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
