@import url("https://fonts.googleapis.com/css?family=PT+Mono");
.open_description {
  position: relative;
  background-color: white;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: none;
  font-size: 28px;
  color: #556270;
  border: 4px solid #556270;
  outline: none; }

.open_description img {
  width: 50px;
  position: absolute;
  right: -3px;
  top: -5px; }

.settings_option {
  position: relative; }
  .settings_option svg {
    position: absolute;
    right: 10px; }

.settings_option div {
  position: absolute;
  top: 0;
  right: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; }

#notes {
  position: absolute;
  right: 0;
  top: -4px;
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 1024px) {
  .open_description {
    width: 100%;
    margin: 0; } }
