@import "../../utilities/variables.scss";

.open_description{
    position: relative;
    background-color: white;
    width: calc(100% - 20px);
    height: $main_height;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    color: $main_color;
    border: $thick solid $main_color;
    outline: none; 
    margin: 10px;
}

.open_description img {
    width: 50px;
    position: absolute;
    right: -3px;
    top: -5px;
}

.settings_option {
    position: relative;
    svg{
        position: absolute;
        right: 10px;
    }
}

.settings_option div {
    position: absolute;
    top: 0;
    right: 10px;
    height: $nav_height;
    // border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notes {
    position: absolute;
    right: 0;
    top: -4px;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .desc_close {
//     border: 1px solid red;
//     height: 100%;
//     width: 100%;
// }

@media (min-width:1024px) {
    .parent_open_description{
    
    }
    .open_description{
        width:100%;
        margin: 0;
        
    }
}