@import "./utilities/variables.scss";

.space_for_nav {
    width:100%;
    height: $nav_height;
    border: 1px solid red;
}

button {
    outline: none;
}

.svg_color_one {
    fill: white;
}

.svg_color_two {
    fill: $main_color;
}
