@import "../../utilities/variables.scss";

// .rates{
//     margin-left: 5px;
// }

.percentage {
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color:$main_color;
    background: white;
    border-radius: 2px;
    font-family: $monospace;
}