
.COLOR {
    background: #26D48C;
    background: linear-gradient(90deg, rgba(90, 177, 236, 0.65), rgba(90, 236, 229, 0.5) );
}

.start, .squared{
    cursor: pointer;
    outline: none;
}

.start{
    background-color: white;
    width:95%;
    height: 60px;
    border-radius: 5px;
    border:none;
    margin-top:10px;
    font-size:30px;
    color:rgba(90, 177, 236, 0.75);
    border:5px solid rgba(90, 177, 236, 0.75);
}

.squared{
    background: linear-gradient(90deg, rgba(90, 177, 236, 0.65), rgba(90, 236, 229, 0.5) );
    opacity: 0;
    width:95%;
    height: 60px;
    border-radius: 5px;
    border:none;
    margin-top:10px;
    font-size:30px;
    color:white;
    animation: introduce .84s;
    animation-fill-mode: forwards;
}

/*********  FORM SECTION OF CSS PAGE *********/

.form{
    width:95%;
    margin-left: 2.5%;
    border-bottom:5px solid rgba(90, 177, 236, 0.75);
    height: 275px;
    margin-top:-275px;
    animation: slide_down .84s;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: relative;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* flex-direction: row; */
}


.good, .bad {
    width:100%;
    height: 60px;
    border: 5px solid rgba(90, 177, 236, 0.75);
    margin-top:47.5px;
    border-radius: 30px;
    background: white;
    font-size: 25px;
    color: rgba(90, 177, 236, 0.75);
    outline:none;
}

.stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_input, .next {
    margin-top:47.5px;
    font-size: 25px;
}

.form_input {
    width:100%;
    height: 60px;
    border: none;
    box-shadow: inset 0 0 15px #BBBBBB;
    /* margin-top: 92.5px; */
    border-radius: 5px;
}

.next {
    width:100%;
    height: 60px;
    font-size: 25px;
    background-color: rgba(90, 177, 236, 0.75);
    border:none;
    border-radius: 5px;
    color:white;
}

.form_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input::-moz-placeholder { /* Firefox 19+ */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input:-ms-input-placeholder { /* IE 10+ */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input:-moz-placeholder { /* Firefox 18- */
    color: #BBBBBB;
    font-size: 25px;
  }

  .row_one button, .row_two button {
    border: 4px solid rgba(90, 177, 236, 0.75);
    width:60px;
    height: 60px;
    margin-top: 22.5px;
    margin-left: 11.25px;
    margin-right: 11.25px;
    border-radius: 30px;
    color: rgba(90, 177, 236, 0.75);
    font-size: 35px;
    background-color: white;
    cursor: pointer;
    outline: none;
  }

  .row_three {
      margin-top: 22.5px;
      height: 60px;
      /* border:1px solid black; */
      line-height: 60px;
      vertical-align: middle;
      font-size: 35px;
      color: rgba(90, 177, 236, 0.75);
  }

  .completed {
      width: 95%;
      margin-left: 2.5%;
      height: 275px;
      border-bottom:5px solid rgba(90, 177, 236, 0.75);
      animation: slide_up .84s;
      animation-fill-mode: forwards;
  }

@keyframes slide_down {
    to{
        margin-top: 0px;
    }
}

@keyframes slide_up {
    to{
        height: 0px;
        border: none;
    }
}

@keyframes introduce {
    to{
        opacity: 1;
    }
}