@import "../../utilities/variables.scss";

.start, .squared{
    cursor: pointer;
    outline: none;
}

.start{
    background-color: white;
    width:95%;
    height: $nav_height;
    border-radius: 5px;
    border:none;
    margin-top:10px;
    font-size:30px;
    color:$main_color;
    border:$thick solid $main_color;
}

.no_dash_overflow {
    // border:1px solid black;
    overflow: hidden;
}

.open_current_form {
    // border: 5px solid green;

    margin-top:-275px;
    animation: open_current_form .84s;
    animation-fill-mode: forwards;
}

.close_current_form {
    // border:5px solid red;
    margin-top: 0;
    animation: close_current_form .84s;
    animation-fill-mode: forwards;
}

.squared{
    background: $gradient_mild;
    opacity: 0;
    width:95%;
    height: $main_height;
    border-radius: 5px;
    border:none;
    margin-top:10px;
    font-size:30px;
    color:white;
    animation: introduce .84s;
    animation-fill-mode: forwards;
}

/*********  FORM SECTION OF CSS PAGE *********/

.form{
    width:95%;
    margin-left: 2.5%;
    border-bottom:$thick solid $main_color;
    height: 275px;
    overflow: hidden;
    position: relative;
}


.good, .bad {
    position: absolute;
    left: 5%;
    width:90%;
    height: $main_height;
    border: $thick solid $main_color;
    border-radius: 30px;
    background: white;
    font-size: 25px;
    color: $main_color;
    outline:none;
}

.good {
    top:47.5px
}

.bad {
    top: 150px;
}

.stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_input, .next {
    margin-top:47.5px;
    font-size: 25px;
}

.form_input {
    width:100%;
    height: $main_height;
    border: none;
    box-shadow: inset 0 0 15px #BBBBBB;
    /* margin-top: 92.5px; */
    border-radius: 5px;
}

.next {
    width:100%;
    height: $main_height;
    font-size: 25px;
    background-color: $main_color;
    border:none;
    border-radius: 5px;
    color:white;
}

.form_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input::-moz-placeholder { /* Firefox 19+ */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input:-ms-input-placeholder { /* IE 10+ */
    color: #BBBBBB;
    font-size: 25px;
  }
  .form_input:-moz-placeholder { /* Firefox 18- */
    color: #BBBBBB;
    font-size: 25px;
  }

  .row_one button, .row_two button {
    border: 3px solid $main_color;
    width: $main_height;
    height: $main_height;
    margin-top: 26px;
    margin-left: 11.25px;
    margin-right: 11.25px;
    border-radius: 30px;
    color: $main_color;
    font-size: 35px;
    background-color: white;
    cursor: pointer;
    outline: none;
  }

  .row_three {
      margin-top: 26px;
      height: $main_height;
      /* border:1px solid black; */
      line-height: $main_height;
      vertical-align: middle;
      font-size: 35px;
      color: $main_color;
  }

  .completed {
      width: 95%;
      margin-left: 2.5%;
      height: 275px;
      border-bottom:$thick solid $main_color;
      animation: slide_up .84s;
      animation-fill-mode: forwards;
  }

@keyframes open_current_form {
    to{
        margin-top: 0px;
    }
}

@keyframes close_current_form {
    to{
        margin-top: -275px;
    }
}

@keyframes introduce {
    to{
        opacity: 1;
    }
}