@import '../utilities/variables.scss';

.svg_color_one{
    fill: $main_color;
    // fill:white;
}

.svg_color_two{
    fill: $white
}

.width {
    width: 27.5px;
    height: 27.5px;
}

.width2 {
    width: 31px;
    height: 31px;
}