.COLOR {background: #5AB1EC}

.nav {
    width:100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(90, 177, 236, 0.65), rgba(90, 236, 229, 0.5) );
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding:0 10px; /*more for larger*/
  }
  
  .nav button {
    margin-right:10px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    height:40px;
    width:100px;
    border-radius: 20px;
    border: 3px solid #25A0AD;
    color: #25A0AD;
    transition: background-color .84s, color .84s;
    cursor: pointer;
  }
  
  .nav button:hover {
    background-color: #25A0AD;
    color:whitesmoke;
  }

  .nav img {
    width:40px;

  }