
@import "../../utilities/variables.scss";

.nav {
    position: absolute;
    z-index: 15;
    width:100%;
    height: 60px;
    background: $gradient;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding:0 12px; /*more for larger*/
    box-shadow: 0 0 10px grey;
  }

  .title {
    position: absolute;
    right: 12px;
    color: whitesmoke;
    font-size: 35px;
  }
  
  // .nav button {
  //   margin-right:10px;
  //   border: none;
  //   background-color: rgba(0,0,0,0);
  //   font-size: 20px;
  //   height:40px;
  //   width:100px;
  //   border-radius: 20px;
  //   border: 3px solid $main-color;
  //   color: #25A0AD;
  //   transition: background-color .84s, color .84s;
  //   cursor: pointer;
  // }
  
  // .nav button:hover {
  //   background-color: $main_color;
  //   color:whitesmoke;
  // }

  .nav img {
    width:31px;
  }

  // .parent_menu{
  //   display: flex;
  //   // align-items: center;
  //   // justify-content: center;
  //   flex-direction: row;
  // }

  .side_bar {
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:66.6%;
    background-color: white;
    
  }

  .close_menu {
    z-index: 9;
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    opacity: 0;
    animation: fade_in .25s;
    // animation-delay: .84s;
    animation-fill-mode: forwards;
  }

  .right {
    margin-left: -66.6%;
    animation: slide_right .84s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 30px rgba(0,0,0,.25)
  }

  .left {
    margin-left: 0;
    animation: slide_left .62s;
    animation-fill-mode: forwards;
  }

  .side_bar_btn {
    // position: absolute;
    // left: 10%;
    // top: 25px;
    margin-top: 10px;
    border:4px solid $main_color;
    border-radius: 5px;
    height: $main_height;
    width:80%;
    box-sizing: border-box;
    background-color: white;
    color: $main_color;
    font-size:25px;
  }

  .logout {
    position: absolute;
    bottom: 10px; 
    left: 10%;
    border:4px solid $main_color;
    border-radius: 30px;
    height: $main_height;
    width:80%;
    box-sizing: border-box;
  }

  .logout {
    height: $main_height;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .logout button {
    border:none;
    height: calc(var($main_height) - var($thick) - var($thick) );
    font-size: 22px;
    color: $main_color;
    background-color: white;
  }

  @keyframes slide_right {
    to {
      margin-left: 0;
    }
  }

  @keyframes slide_left {
    to {
      margin-left: -66.6%
    }
  }

  @keyframes fade_in {
    to {
      opacity: 1;
    }
  }