@import url("https://fonts.googleapis.com/css?family=PT+Mono");
.start_or_log {
  display: none; }

.nav {
  overflow: hidden;
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 60px;
  background: linear-gradient(155deg, #556270, #93B1BC);
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  /*more for larger*/
  box-shadow: 0 0 10px grey; }

.title {
  position: absolute;
  right: 12px;
  color: whitesmoke;
  font-size: 35px; }

.nav svg {
  width: 31px;
  fill: black; }

.side_bar {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 60px);
  width: 66.6%;
  background-color: white; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.close_menu {
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  height: calc( 100% + 60px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fade_in .25s;
  animation-fill-mode: forwards; }

.right {
  margin-left: -66.6%;
  animation: slide_right .84s;
  animation-fill-mode: forwards;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); }

.left {
  margin-left: 0;
  animation: slide_left .62s;
  animation-fill-mode: forwards; }

.side_bar_btn {
  margin-top: 75px;
  border: 4px solid #556270;
  border-radius: 5px;
  height: 55px;
  width: 80%;
  box-sizing: border-box;
  background-color: white;
  color: #556270;
  font-size: 23px; }

.logout {
  position: absolute;
  bottom: 75px;
  left: 10%;
  border: 4px solid #556270;
  border-radius: 30px;
  height: 55px;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  justify-self: flex-end; }

.logout {
  height: 55px;
  /* border:1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; }

.logout button {
  border: none;
  height: calc(var($main_height) - var($thick) - var($thick));
  font-size: 22px;
  color: #556270;
  background-color: white; }

@keyframes slide_right {
  to {
    margin-left: 0; } }

@keyframes slide_left {
  to {
    margin-left: -66.6%; } }

@keyframes fade_in {
  to {
    opacity: 1; } }

@media only screen and (min-width: 1024px) {
  .side_bar {
    width: 20%; }
  .title {
    position: absolute;
    right: 35vw;
    color: whitesmoke;
    width: 30vw;
    font-size: 35px; }
  .start_or_log {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100%;
    background: none;
    border: none;
    color: white;
    transition: background-color .8s;
    text-align: right;
    padding: 0 0 0 15px;
    font-size: 30px;
    outline: none; }
    .start_or_log img {
      margin-left: 10px;
      margin-right: -38px;
      width: 38px;
      transition: margin-right .8s; }
    .start_or_log span {
      margin-right: 10px; }
  .start_or_log:hover {
    background-color: #7F97A2; }
    .start_or_log:hover img {
      display: inline;
      margin-right: 10px; } }
