@import "../../utilities/variables.scss";

.open_settings {
    text-align: left;
    padding:0 10px;
    position: relative;
    background-color: $main_color;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    color: white;
    border: 5px solid $main_color;
    outline: none;
    line-height: calc(60px - 10px);
    vertical-align: middle; 
}

.open_settings img {
    position: absolute;
    top:5px;
    right: 5px;
    width: 40px;
}

